@mixin transition($property) {
    -webkit-transition: $property;
    -ms-transition: $property;
    transition: $property;
}

@mixin state() {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
}

$font-title: 'Playfair Display';
$font-body:  'Source Sans Pro';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-body, sans-serif;
    line-height: 1.8;
}

.section-big-padding {
    padding: 125px 0;
}

.bg-grey {
    background-color: #f0f0f5;
}

.bg-dark-grey {
    background-color: #5f5c68;
}

.text-green {
    color: #679334;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}

.column-wrapper {
    display: flex;
    margin: 0 -15px;
    position: relative;
    flex-direction: row;
}

.order-md-2 {
    @media (min-width: 768px) {
        order: 2;
    }
}

.align-self-center {
    align-self: center;
}

.justify-md-content-end {
    @media (min-width: 768px) {
        justify-content: flex-end;
    }
}

.position-absolute {
    position: absolute;
}

.small-container {
    max-width: 500px;
}

.ornament_line {
    height: 1px;
    width: 100%;
    background-color: #679334;
    margin: 35px 0 40px;
    position: relative;
    right: -125px;
}

.col {
    width: 100%;
    padding: 0 15px;
}

.col-md-4 {
    @media (min-width: 768px) {
        width: calc(100% / 12 * 4);
    }
}

.col-md-6 {
    @media (min-width: 768px) {
        width: calc(100% / 12 * 6);
    }
}

.img-responsive {
    width: 100%;
    height: auto;
}

.content {
    &--type-1 {
        top: 30%;
        transform: translateY(30%);
        width: 55%;
        right: 0;
    }

    &--white {
        color: #fff;
    }

    &--grey {
        color: #5f5c68;
    }

    &--semi-grey {
        color: #d8d6e2;
    }

    &__inner {
        padding: 50px 60px 70px;
    }

    &__title {
        font-size: 35px;
        font-weight: 400;
        font-family: $font-title, serif;
        line-height: 56px;
    }

    &__description {
        font-size: 14px;
        margin-top: 35px;
        
        &--set-width {
            max-width: 300px;
        }
    }

    &__link {
        display: inline-block;
        text-decoration: none;
        color: #d1d1d1;
        padding: 15px 0;
        font-size: 12px;
        text-transform: uppercase;
        position: relative;
        letter-spacing: 1px;
        margin-top: 15px;
        @include transition(all .3s ease-in-out);
        
        &--variant-green {
            color: #679334;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            height: 2px;
            width: 0;
            background-color: #679334;
            @include transition(all .3s ease-in-out);
        }

        @include state() {
            color: #679334;

            &::before {
                width: 100%;
            }
        }
    }
}

.img-overlap {
    &__container {
        position: relative;
        display: block;
        min-width: 250px;
        overflow: hidden;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 110%;
        object-fit: cover;
    }
}

.banner {
    .carousel-cell {
        height: 100vh;
        width: 100%;
    }

    &__container {
        width: inherit;
        height: inherit;
        display: block;
        background-color: rgba(0,0,0,.8);
    }

    &__image {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        opacity: .8;
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #fff;
    }

    &__title {
        font-size: 42px;
        font-family: $font-title, serif;
        font-weight: 400;
        letter-spacing: 5px;

        @media (max-width: 767px) {
            font-size: 28px;
        }
    }

    &__description {
        margin: 30px auto 0;
        max-width: 400px;
        text-align: center;
        letter-spacing: 1px;

        @media (max-width: 767px) {
            max-width: unset;
        }
    }

    &__content-link {
        text-transform: uppercase;
        display: inline-block;
        padding: 10px 30px;
        border: 1px solid #fff;
        text-decoration: none;
        color: #fff;
        letter-spacing: 1px;
        margin-top: 30px;
        font-weight: 500;
        font-size: 14px;
        @include transition(all .3s ease);

        @include state() {
            background-color: #fff;
            color: #000;
        }
    }

    .flickity {
        &-button {
            background: none;
            color: #fff;
        }

        &-prev-next-button {
            top: unset;
            bottom: 30px;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            transform: translateY(-50%);

            @include state() {
                background-color: unset;
            }

            &.previous {
                left: 80%;

                @media (max-width: 767px) {
                    left: 10%;
                }
            }

            &.next {
                right: 12.5%;

                @media (max-width: 767px) {
                    left: 20%;
                }
            }
        }

        &-page-dots {
            bottom: 45px;
            left: 12.5%;
            width: unset;

            .dot {
                width: 6px;
                height: 6px;
                background-color: #fff;
                opacity: 0.4;
                margin: 0 12px;

                &.is-selected {
                    opacity: 1;
                }
            }

            @media (max-width: 767px) {
                display: none;
            }
        }
    }
}

.the-resort {
    .content {
        padding-left: 45px;
        padding-right: 30px;
    }

    &__bg-content {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        width: 80%;
        right: 15px;
        background-color: #d7d7d7;
        z-index: -1;
    }

    .box-img {
        margin-top: -45px;
        margin-bottom: 45px;
    }

    .img-overlap {
        &__container {
            height: 550px;
        }
    }
}

.the-stay {
    .content__description {
        max-width: unset;
    }
}

.property {
    &__link {
        display: block;
        color: #fff;
        text-decoration: none;
        position: relative;
        font-weight: 400;
        @include transition(all .4s ease-out);
        
        @include state() {
            .property__title::before {
                width: 100%;
            }

            .property__img__on-hover {
                width: 100%;
            }
        }
    }

    &__title {
        position: absolute;
        font-size: 11px;
        font-weight: 400;
        line-height: 30px;
        text-transform: uppercase;
        left: 30px;
        right: 30px;
        bottom: 30px;

        &::before {
            content: '';
            height: 1px;
            background-color: #fff;
            position: relative;
            top: 0;
            display: block;
            width: 100px;
            @include transition(all .4s ease-out);
        }
    }

    &__img {
        height: 400px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &__on-hover {
            height: inherit;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 0;
            @include transition(all .4s ease-out);
        }
    }

}

.dinner {
    .content {
        background: white;
        margin-top: 45px;
        margin-bottom: -45px;

        &__inner {
            padding: 50px 60px;
        }
    }

    .img-overlap {
        &__container {
            height: 575px;
            width: 180%;
        }

        &__img {
            z-index: -1;
        }
    }
}

.relaxing {
    min-height: 110vh;
    position: relative;
    background-color: #000;
    overflow: hidden;
    
    &__background {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
        width: 100%;
        height: 120%;
        opacity: .7;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 0;
    }
}

.testimoni {
    padding: 75px 0;

    @media (max-width: 425px) {
        padding: 50px 0;
    }

    .carousel-cell {
        width: inherit;
    }

    &__content {
        text-align: center;
        color: #5f5c68;
        @media (max-width: 425px) {
            margin: 0 15px;
            text-align: unset;
        }
    }
    
    &__description {
        font-weight: 400;
        font-size: 20px;
        font-family: $font-title, sans-serif;
        line-height: 1.7;

        @media (max-width: 425px) {
            font-size: 16px;
        }
    }

    &__title {
        margin-top: 30px;
        margin-bottom: 45px;
        font-weight: 500;

        @media (max-width: 425px) {
            font-size: 14px;
            margin-top: 15px;
            margin-bottom: 15px;
            text-align: center;
        }
    }
}
